* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #e91e63;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(233,30,99,.5), rgba(233,30,99,.5)),
              url('/src/assets/hero.jpg') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
}

/* GALERIA */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  background: #f8bbd0;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
